<div class="card mt-4"> 
    <img class="card-img-top img-fluid" src="{{productDetails.productImg}}" alt="" style="width: 250px;">
    <div class="card-body">
        <h3 class="card-title">{{productDetails.productName}}</h3>
        <a routerLink="/products/update-product/{{productDetails.id}}">Update Product</a> | 
        <a routerLink="/products/delete-product/{{productDetails.id}}">Delete Product</a>
        <h4>{{productDetails.price | currency: 'INR'}}</h4>
        <p class="card-text">{{productDetails.description}}</p> 
        <span class="text-warning">{{productDetails.rating}}</span> &#9733; &#9733; &#9733; &#9733; &#9734; 
    </div>
</div> <!-- /.card -->
<div class="card card-outline-secondary my-4">
    <div class="card-header">Reviews : {{productDetails.reviews}} </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
            necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
            necessitatibus quae sint natus.
        </p> 
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
            necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
            necessitatibus quae sint natus.
        </p> 
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique
            necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia,
            necessitatibus quae sint natus.
        </p> 
        <small class="text-muted">Posted by Anonymous on 3/1/17</small>
        <hr> 
        <a href="#" class="btn btn-success">Leave a Review</a>
    </div>
</div> 
<!-- /.card -->
